body {
    background-color: #121214;
    color: #fff;
}

.container {
    width: 720px;
    margin: 0 auto;

}

.container__logo {
    display: flex;
    justify-content: center;
    margin: 42px auto 73px auto;

    max-width: 228px;
    height: 68px;
}

.container__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container__titulo {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 61px;
}

#logo {
    cursor: pointer;
}

.container__secao {
    width: 100%;
}

.container__secao ul {
    display: flex;
    gap: 26px;
    margin: 0 26px 0 0;
    text-align: center;
}

.secao__perfil img {
    border-radius: 10px;
    cursor: pointer;
    width: 160px;
    height: 160px;

    box-shadow: 0 0 0 0 #fff;
    box-sizing: border-box;
    transition: box-shadow 0.3s;
}

.secao__perfil p {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #9C9C9C;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    cursor: pointer;
}

.secao__perfil:hover img, .secao__perfil:hover p {
    color: #fff;
    box-shadow: 0 0 0 4px #fff;

}

.secao__perfil:hover p {
    box-shadow: 0 0 0 0px #fff;
}

.container__botao {
    display: flex;
    justify-content: center;

    margin: 136px auto 0 auto;

}

.gerenciar__perfil {
    width: 206px;
    height: 50px;

    color: #fff;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;

    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gerenciar__perfil:hover {
    background-color: #fff;
    color: #121214;
}